# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# PyCharm
.idea/

# Database (SQLite)
*.db

# Coverage
htmlcov/
.coverage

# Alembic bytecode
alembic/versions/*.pyc